.temp
.trash
.vscode
pretrained_models
configs/json
outputs
vectors
metrics
__pycache__
logs
cases
logs
ckpts
model_*
generalized-category-discovery
SPTNet
premodel
pretrain_models
outs
*.log
pretrain_model
clnn_outputs
nohup.out
analysis